<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="static/css/mainstyles.css">
    <link rel="stylesheet" href="static/css/beigestyles.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="home-main-container">
        <div class="home-main-left"></div>
        <div class="home-main-right">
            <div class="navbar home-navbar">
                <div class="nav-left">
                    <a href="/home">HealthJournal</a>
                </div>
                <div class="nav-right text-style-2">
                    <a href="">OVERVIEW</a>
                    <a href="/logout">LOGOUT</a>
                </div>
            </div>
            <div class="home-body">
                <div class="home-header">
                    <div class="container">
                        <div class="daily-number text-style-3">3</div>
                        <div class="day text-style-3">Today's Report</div> 
                        <!-- swap "today with the current date" -->
                    </div>
                    <div class="home-dropdown">
                        <select id="time-display" name="time-display" form="home-time-display">
                            <option value="Day">Day</option>
                            <option value="Week">Week</option>
                            <option value="Month">Month</option>
                        </select>
                    </div>
                </div>
                <hr>
                <form action="/newReport" method = "POST">
                    <div class="home-symptoms-form">
                        <div class="left">
                            <h3>SYMPTOMS</h3>
                            {% for symptom in symptoms_list %}
                            <div class="symptoms-card">
                                
                                <h3>{{symptom.name}}</h3>
                                <!-- <form action="/createSymptom", method = "POST"> -->
                                    <label for="am-{{symptom.id}}">am</label>
                                    <!-- <input type="range" id="am" name="am- brackets symptom_id brackets" -->
                                    <input type="range" id="am" name="am-{{symptom.id}}"
                                    min="1" max="10">
                                    <label for="pm-{{symptom.id}}">pm</label>
                                    <input type="range" id="pm" name="pm-{{symptom.id}}"
                                    min="1" max="10">
                                    <!-- <input class = "button-2 text-style-4 button-coloring-2" type="submit" value = "Save"> -->
                                <!-- </form> -->
                            </div>
                            {% endfor %}
                            <div class="symptoms-add-new text-style-1">
                                +
                            </div>
                        </div>
                        <div class="right">
                            <h3>NOTES</h3>
                            <div class="notes-card">
                                <textarea name="notes" id="" cols="60" rows="10"></textarea>
                            </div>
                            <label for="flagged">flag</label>
                            <input type="checkbox" id="flagged" name="flagged" value="flag">
                            <input class = "button-1 text-style-4 button-coloring-2" type="submit" value = "SUBMIT">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


{% for symptom in symptoms_list %}
<h3>{{symptom.name}}</h3>
<!-- <form action="/createSymptom", method = "POST"> -->
    <label for="am-{{symptom.id}}">am</label>
    <!-- <input type="range" id="am" name="am- brackets symptom_id brackets" -->
    <input type="range" id="am" name="am-{{symptom.id}}"
    min="1" max="10">
    <label for="pm-{{symptom.id}}">pm</label>
    <input type="range" id="pm" name="pm-{{symptom.id}}"
    min="1" max="10">
    <!-- <input class = "button-2 text-style-4 button-coloring-2" type="submit" value = "Save"> -->
<!-- </form> -->
{% endfor %}