<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mainstyles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/beigestyles.css') }}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="home-main-container">
        <div class="home-main-left"></div>
        <div class="home-main-right">
            <div class="navbar home-navbar">
                <div class="nav-left">
                    <a href="/home">HealthJournal</a>
                </div>
                <div class="nav-right text-style-2">
                    <a href="/trends">OVERVIEW</a>
                    <a href="">PROFILE</a>
                    <a href="/logout">LOGOUT</a>
                </div>
            </div>
            <div class="home-body">
                <div class="home-header">
                    <div class="container">
                        <div class="day text-style-3">My Reports</div>
                    </div>
                </div> 
                <!-- add in for loop to load all cards render in reverse-->
                <div class="report-cards-container">
                    <div class="report-card">
                        <a href="/create/report">
                            + Add Report
                        </a>
                    </div>
                    {% for report in reports_list%}
                        <div class="report-card">
                            <h3>{{report.id}}</h3>
                            <p>Notes: {{report.notes}}</p>
                            <p>Date: {{report.created_at}}</p>
                            <p>Morning avg: {{report.morning_average()}}</p>
                            <p>Evening avg: {{report.night_average()}}</p>
                            <p>Overall avg: {{report.overall_average()}}</p>
                            <a href="/edit/{{report.id}}">Edit</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>