<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="static/css/mainstyles.css">
    <link rel="stylesheet" href="static/css/navystyles.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="initial-main-container">
        <div class="initial-main-left"></div>
        <div class="initial-main-right">
            <div class="navbar initial-navbar">
                <div class="nav-left">
                    HealthJournal
                </div>
                <div class="nav-right text-style-2">
                    <a href="">OVERVIEW</a>
                    <a href="/login">LOGIN</a>
                </div>
            </div>
            <div class="initial-body">
                <div class="container">
                    <div class="initial-body-text">
                        <p>A digital health journal to manage symptoms,</p> 
                        <p>take notes, & track health trends</p> 
                    </div>
                    <div class="initial-body-buttons">
                        <!-- <form action="/buy/painting/this_painting.id" method = "POST">
                            <input class = "button-1 type="submit" value = "SIGN UP">
                        </form> -->
                        <form action="/register" method = "GET">
                            <input class = "button-1" type="submit" value = "SIGN UP">
                        </form>
                        <form action="/login" method = "GET">
                            <input class = "button-1" type="submit" value = "LOGIN">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>