<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="static/css/mainstyles.css">
    <link rel="stylesheet" href="static/css/navystyles.css">
</head>
<body>
    <div class="initial-main-container">
        <div class="initial-main-left"></div>
        <div class="initial-main-right">
            <div class="initial-navbar">
            </div>
            <div class="initial-body"></div>
        </div>
    </div>
</body>
</html>