<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
        <!-- CSS files -->
        <link rel="stylesheet" href="static/css/mainstyles.css">
        <link rel="stylesheet" href="static/css/navystyles.css">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="initial-main-container">
        <div class="initial-main-left"></div>
        <div class="initial-main-right">
            <div class="navbar initial-navbar">
                <div class="nav-left">
                    <a href="/">HealthJournal</a>
                </div>
                <div class="nav-right text-style-2">
                    <a href="/logging">LOGIN</a>
                </div>
            </div>
            <div class="initial-body">
                <div class="container">
                    <div class="initial-body-text initial-body-head">
                        Login to HealthJournal
                    </div>
                    <form action="/login" method = "POST"> <!-- change -->
                        <table>
                            <tr>
                                <td><label for="email">Email </label>
                                    <input type="text" name = "email"></td>
                            </tr>
                            <tr>
                                <td ><label for="password">Password </label>
                                    <input type="password" name = "password"></td>
                            </tr>
                            <tr>
                                <td><input class = "button-1 center text-style-4" type="submit" value = "LOGIN"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}     <!-- declare a variable called messages -->
        {% if messages %}                            <!-- check if there are any messages -->
            {% for category, message in messages %}    
                {% if category == 'login' %}
                    <p class = "{{category}}">{{message}}</p>
                {% endif %}               <!-- display each message in a paragraph tag -->         <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>