<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mainstyles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/beigestyles.css') }}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="home-main-container">
        <div class="home-main-left"></div>
        <div class="home-main-right">
            <div class="navbar home-navbar">
                <div class="nav-left">
                    <a href="/home">HealthJournal</a>
                </div>
                <div class="nav-right text-style-2">
                    <a href="">OVERVIEW</a>
                    <a href="">PROFILE</a>
                    <a href="/logout">LOGOUT</a>
                </div>
            </div>
            <div class="home-body">
                <div class="home-header">
                    <div class="container">
                        <div class="daily-number text-style-3">{{this_report.overall_average()}}</div>
                        <div class="day text-style-3">Today's Report</div> 
                        <!-- swap "today with the current date" -->
                    </div>
                    <div class="home-dropdown">
                        <select id="time-display" name="time-display" form="home-time-display">
                            <option value="Day">Day</option>
                            <option value="Week">Week</option>
                            <option value="Month">Month</option>
                        </select>
                    </div>
                </div>
                <hr>
                <form action="/update/{{this_report.id}}" method = "POST">
                    <div class="home-symptoms-form">
                        <div class="left">
                            <h3>SYMPTOMS</h3>
                            {% for symptom in this_report.daily_symptoms %}
                            <div class="symptoms-card">
                                <h3>{{symptoms_list[symptom.symptom_bank_id-1].name}}</h3>
                                    <p>{{symptom.am}}, {{symptom.pm}}</p>
                                    <!-- add dynamic range slider -->
                                    <div class="slidecontainer">
                                        <label for="am-{{symptom.id}}">am: </label>
                                        <span class="limit"></span>
                                        <input type="range" min="1" max="10" value={{symptom.am}} class="slider" id="myRange" name="am-{{symptom.id}}">
                                    </div>
                                    <div class="slidecontainer">
                                        <label for="pm-{{symptom.id}}">pm: </label>
                                        <span class="limit"></span>
                                        <input type="range" min="1" max="10" value = {{symptom.pm}} class="slider" id="myRange" name="pm-{{symptom.id}}">
                                    </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="right">
                            <h3>NOTES</h3>
                            <div class="notes-card">
                                <textarea name="notes" id="" cols="60" rows="10">{{this_report.notes}}</textarea>
                            </div>
                            <!-- <label for="flagged">flag</label>
                            <input type="checkbox" id="flagged" name="flagged" value="1" checked = >  -->
                            <input class = "button-1 text-style-4 button-coloring-2" type="submit" value = "UPDATE">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>    
</body>
</html>
