*{
    margin: 0px;
    padding: 0px;
}
/* OVERALL STYLE ELEMENTS */
/* main navy color: #374056 */
/* main beige color: #FCF7F0
    beige lighter: #FFFDFA
    gray: #B1ADA6
    dark: #2B2F44
    mustard: #DD9B1B
    light-blue:#B6D6D8
*/

/* fade in animations*/
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
.fade-in {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    color: #FFFDFA;
    animation: fadeIn linear 1.5s;
}

body{
    letter-spacing: .12rem;
    color: #2B2F44;
}
a{
    text-decoration: none;
}
.button-1{
    padding:15px 35px 15px 35px;
    border-radius: 25px;
    border: none;
}
.button-2{
    padding:10px 25px 10px 25px;
    border-radius: 10px;
    border: none;
}
.button-coloring-1{
    background-color:#FFFDFA;
    transition: all 0.5s ease-out;
    border: 1px solid #FFFDFA;
}
.button-coloring-1:hover{
    background-color:#374056;
    border: 1px solid #FFFDFA;
    color: #FFFDFA;
}
.button-coloring-2{
    background-color: #B6D6D8;
    color: white;
}
h1{
    font-family: 'Comfortaa', sans-serif;
    font-size: 30px;
}
.text-style-1{
    font-family: 'Comfortaa', sans-serif;
    font-size: 22px;
}
.text-style-2, form{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
.text-style-3{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.text-style-4, h3{
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    letter-spacing: .12rem;
    font-size: 14px;
}
.text-style-5{
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    letter-spacing: .12rem;
    font-size: 12px;
    color: #B1ADA6;
}
.text-style-6{
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    letter-spacing: .12rem;
    font-size: 10px;
    color: #B1ADA6;
}
.gray-text{
    color: #B1ADA6;
}
.padd-down-10{
    padding-bottom: 10px;
}
.padd-down-20{
    padding-bottom: 20px;
}
.padd-down-50{
    padding-bottom: 50px;
}
.marg-top-20{
    margin-top: 20px;
}

/*   Navbar   */
.navbar{
    padding: 15px 100px 15px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    font-weight: medium;
    padding:10px;
}
.nav-right{
    display:flex;
    justify-content: space-between;
    font-size: 13px;
}
.nav-right a{
    padding-left: 150px;
}

/* Dynamic Range slider */
/* red: #AE4C51
yellow: #DD9B1B
yellow: E0AF30
green:
*/
.slidecontainer [type="range"] {
        width: 100%;
        -webkit-appearance: none;
        border-radius: 6px;
        background: linear-gradient(to right, #9A70A0,#AE4C51, #DD9B1B, #657B62);
        opacity: .8;
        outline: none;
        padding: 0;
        margin: 0;
        height: 5px;
        border-radius: 15px;
}

.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    filter: drop-shadow(0px 0px 2px rgb(80, 53, 0, 0.2));
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
}
/* style daily numbers */
.range-num-styles{
    /* background-color: green; */
    padding: 10px 10px;
    text-align: center;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    font-weight: bold;
    color: #FFFDFA;
}
.range-num-styles-2{
    /* background-color: green; */
    text-align: center;
    padding: 10px 10px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    font-weight: bold;
    color: #FFFDFA;
}
#daily-number-view{
    /* background-color: green; */
    padding: 15px 20px;
    color: #FFFDFA;
    border-radius: 5px;
}