*{
    margin: 0px;
    padding: 0px;
}
/* OVERALL STYLE ELEMENTS */
body{
    letter-spacing: .12rem;
}
a{
    text-decoration: none;
}
.button-1{
    padding:15px 35px 15px 35px;
    border-radius: 25px;
    border: none;
    letter-spacing: .12rem;
    font-family: 'Roboto', sans-serif;
    font-weight:medium;
}

.text-style-2, form{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

/*   Navbar   */
.navbar{
    padding: 15px 100px 15px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    font-family: 'Comfortaa', sans-serif;
    font-size: 22px;
    font-weight: lighter;
    padding:10px;
}
.nav-right{
    display:flex;
    justify-content: space-between;
    font-size: 13px;
}
.nav-right a{
    padding-left: 150px;
}
